.nav-center{
    width: 1220px;
    height: 150px;
    border: black solid 1px;
    background: linear-gradient(to right,darkred,saddlebrown,darkred);
}
h1{
    font-size: 60px;
    margin: 10px;
    font-weight: bolder;
    text-align: center;
    color: #410000;
    text-shadow: 4px 2px black;
    text-decoration: underline;
}

.nav-links{
    font-size: 25px;
    text-align: center;
    margin-left: 700px;
}
a{
    color: #240046;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

a:hover{
    color: #814181;
    text-decoration: none;
    background-color: #4600008c;

}

.container{
    width: 700px;
    height: 90px;
    font-size: 30px;
    color: white;
    text-align: center;
    border: 3px solid black;
    margin: 170px 200px;
    padding: 1px 20px;
    background-color:  #69000099;
    text-transform: capitalize;
}
.color{
    text-transform: none;
    color: #0000bf;
}
.btn{
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: darkslateblue;
    background-color: #24009546;
}
.btn:hover{
    color: #9aa0a6;
}
